.chaticonstyle{
    position: absolute;
    cursor: pointer;
    width: 60px;
    height: 60px;
    right: 30px;
    border-radius: 100px;
    bottom: 30px;
    border-top-left-radius: 100px;
    border-bottom-right-radius: 0;
}

.chatcontent{
    z-index: 10;
    right: 20px;
    bottom: 100px;
    background-color: #fff;
    position: fixed;
    bottom: 85px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 450px;
    border-radius: 20px;
    box-shadow: 0 24px 25px rgba(0,0,0,.1);
    margin: 10px;
    box-sizing: border-box;
	display:none;
}
.closeicon{
    display: none;
}
.chatcloseicon{
    position: fixed;
    cursor: pointer;
    width: 60px;
    height: 60px;
    right: 30px;
    border-radius: 100px;
    bottom: 30px;
    border-top-left-radius: 100px;
    border-bottom-right-radius: 2px;
    transition: .5s all linear;
    z-index: 50;
    
}
.transformstyle{
    border-top-left-radius: 100px;
    border-bottom-right-radius: 0;
    transform: rotate(-90deg);
}
.chatext
{
	background: #fff;
    width: 285px;
    height: 420px;
    margin: 0px auto;
	
}
.closetopicon{
	vertical-align: middle;
    float: right;
    color: #fff;
    cursor: pointer;   
    margin-top: -38px;
	transition:.5s all linear;
	border-radius:100%;
	
}
.closetopicon:hover{
	transform: rotate(180deg);
    
}
.innercontent p{
   padding-top: 6.25rem;
   text-align: center;
   font-size: 20px;
   margin-bottom: 30px;
}
.chat input{
    padding: 20px 20px;
    resize: none;
    border-width: 0;
    color: #677583;
    background-color:#eaf4f7;
    margin-bottom: 30px;
    outline: none;
    width:100%;

}
.chat button{
    background-color: #4041F4;
    border: 0;
    height: 50px;
    color: #fff;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
}
.chat button:hover{
    color: #fff;
}

.backicon{
    vertical-align: middle;
    float: left;
    color: #000;
    cursor: pointer;
    margin: 66px 2px 0px 0px;
	transition:.5s all linear;
	border-radius:100%;
}
.textfieldstyle{
    width: 90%;
    height: 40px;
    outline: none;
    display: inline-block;
    border: none;
    font-size: 15px;
    padding: 25px;
    font-weight: 400;
    color: #555;	
}

.qtncnt::-webkit-scrollbar {
    width: 0px; 
    background: transparent; 
}

.qtncnt::-webkit-scrollbar-thumb {
    background: #FF0000;
}
.qtncnt{
	
	width: 100%;
    max-height: 300px;
	height:auto;
    overflow: auto;
    overflow-x: hidden;
}
.chatheader{
    background-color: #00000080;
    padding: 10px;
}

.chatheader p{

    font-size: 24px;
    color: #fff;

}

.prechaticon{

    vertical-align: middle;
    float: left;
    color: #fff;
    border-radius: 100%;
    margin: 10px;

}

/*
 *  STYLE 3
 */

#style-3::-webkit-scrollbar-track
{
	background-color: #F5F5F5;
}

#style-3::-webkit-scrollbar
{
	width: 6px;
	background-color: #F5F5F5;
}

#style-3::-webkit-scrollbar-thumb
{
	background-color: #000000;
}

.msgcontent{
	background: #eff1f1;
    float: left;
    padding: 10px 10px 10px 10px;
    margin: 5px 50px 5px 10px;
    font-size: 13px;
    font-weight: 400;
    color: #555;
    border-radius: 0px 15px 15px 15px;
	box-shadow: 0 1px rgba(0,0,0,.1);
	word-wrap: break-word;
	max-width: 80%;
}
.msgicon{
    background: #fff;
    padding: 10px 10px 10px 11px;
    border-radius: 282px/235px;
    margin: 44px 0px 5px 10px;
    font-size: 14px;
    font-weight: 400;
    color: #555;
    border-bottom-left-radius: 0;
    float: left;
	
}
.msgicon i{
    vertical-align:middle;
	color:#49cee0;
	font-size:13px;
}
.rightside{
	background: #4dd0e1;
    border-radius: 15px 0px 15px 15px;
    float: right;
    padding: 10px 10px 10px 10px;
    margin: 5px 10px 5px 50px;
    font-size: 13px;
    font-weight: 400;
    color: #fff;
	box-shadow: 0 1px rgba(0,0,0,.1);
	 word-wrap: break-word;
	     max-width: 80%;
}
.innerlftside{
	float: left;
	width:100%;
}
.innerrghtside{
	float: right;
	width:100%;
}

.chatcontentsres p{
    text-align: justify;
    font-size: 13px;
    margin-bottom: 15px
}

.msgbox{
    position: absolute;
    bottom: 25px;
    right: 30px;
    height: 50px;
    width: 85%;
    margin: 0 auto;
    display: flex;
    flex: 1;
    left: auto;
}

.msgcontent i {
    -webkit-animation-name: blink;
            animation-name: blink;
    -webkit-animation-duration: 1.4s;
            animation-duration: 1.4s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
            font-size:10px;
            vertical-align:middle;
  }
  
  .msgcontent i:nth-child(2) {
    -webkit-animation-delay: .2s;
            animation-delay: .2s;
  }
  
  .msgcontent i:nth-child(3) {
    -webkit-animation-delay: .4s;
            animation-delay: .4s;
  }
  
  @-webkit-keyframes blink {
    0% {
      opacity: .2;
    }
    20% {
      opacity: 1;
    }
    100% {
      opacity: .2;
    }
  }
  
  @keyframes blink {
    0% {
      opacity: .2;
    }
    20% {
      opacity: 1;
    }
    100% {
      opacity: .2;
    }   
  }